@using Microsoft.AspNet.Identity;
@using System.Web.UI.WebControls;

@model WebApplication1.ViewModel.Employee

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @User.Identity.GetUserId();

    var domainsList = new SelectList(new[]
            {
                new SelectListItem { Text = "Male", Value = "1", Selected = true },
                new SelectListItem { Text = "Female", Value = "2"},
            }, "Value", "Text");
}

<div class="row">
    <div class="col-lg-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Basic Info
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading tab-bg-primary ">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#home">Personal</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#about">Academic</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#profile">Profile</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="home" class="tab-pane active">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">First Name:</label>
                                                    <input type="text" class="form-control" id="txtFirst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Father Name:</label>
                                                    <input type="text" class="form-control" id="txtMidle">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Sur Name:</label>
                                                    <input type="text" class="form-control" id="txtLAst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Gender:</label>
                                                    @Html.DropDownListFor(x => x.Gender, domainsList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Date Of Birth:</label>
                                                    <input type="text" class="form-control" id="txtDOB">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">CNIC:</label>
                                                    <input type="text" class="form-control" id="txtCNIC">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Religion:</label>
                                                    <input type="text" class="form-control" id="txtReligion">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Domicile:</label>
                                                    <input type="text" class="form-control" id="txtDomicile">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="usr">Address:</label>
                                                    <input type="text" class="form-control" id="txtAddress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">State:</label>
                                                    <input type="text" class="form-control" id="txtState">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Country:</label>
                                                    @Html.DropDownListFor(x => x.Country, Model.Country as SelectList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Postal Code:</label>
                                                    <input type="text" class="form-control" id="txtPostal">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-2">
                                                @*<img style="border:1px solid;width:200px" src="~/Img/avatar1.jpg" />*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Home Phone:</label>
                                                    <input type="text" class="form-control" id="txtPhone">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Mobile Phone:</label>
                                                    <input type="text" class="form-control" id="txtMobile">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Email Address:</label>
                                                    <input type="text" class="form-control" id="txtMail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success btn-group-lg" id="btnSubmit" value="Submit" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="about" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">First Name:</label>
                                                    <input type="text" class="form-control" id="txtFirst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Father Name:</label>
                                                    <input type="text" class="form-control" id="txtMidle">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Sur Name:</label>
                                                    <input type="text" class="form-control" id="txtLAst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Gender:</label>
                                                    @Html.DropDownListFor(x => x.Gender, domainsList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="profile" class="tab-pane">Profile</div>
                                    <div id="contact" class="tab-pane">Contact</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#txtDOB").datepicker();

        $('#btnSubmit').click(function () {


            var val = $('#txtFirst').val();
            if (IsEmpty(val) == 0) {
                //  $(this).attr("style","border-color:red")
            }
        });
    });
</script>