@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <input type="text" id="txtName" class="form-control" placeholder="UserName" />
    </div>
    <div class="col-md-3">
        <input type="text" id="txtMail" class="form-control" placeholder="E-Mail" />
    </div>
    <div class="col-md-3">
        <input type="text" id="txtAddress" class="form-control" placeholder="Address" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <input type="button" id="btnSubmit" class="btn btn-primary" Value="Submit" />
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <table class="table-condensed table">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Address</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Address</td>
                    <td><button class="btn btn-danger"><span class="glyphicon-remove"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var Name = $('#txtName').val();
            var Mail = $('#txtMail').val();
            var Address = $('#txtAddress').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("index", "HomeController")",
                data: { Name: Name, Mail: Mail, Address: Address },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                },
                success: function (result) {
                    alert("We returned: " + result);
                }
            });
        })
    })
</script>